/* VARIABLES */
:root{
    /* ========== COLORS DEFAULT ========== */
      /* Grayscale */
    --clr-black:#000;
    --clr-dark:#282c34;
    --clr-dgray:#23252b;
    --clr-gray:#6c757d;
    --clr-lgray:#adb5bd;
    --clr-light:#f8f9fa;
    --clr-white:#fff;
  
      /* Utils */
    --clr-success:rgb(25 135 84);
    --clr-warning:rgb(255 193 7);
    --clr-danger:rgb(220 53 69);
  
    --clr-blue:rgb(13 109 253);
    --clr-cyan:rgb(13 202 240);
    --clr-cyan2:rgb(97 218 251);
    --clr-teal:rgb(32 201 151);
    --clr-indigo:rgb(102 16 242);
    --clr-purple:rgb(111 66 193);
    --clr-pink:rgb(214 51 132);
}

/* GLOBAL SETTINGS */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Courier New', monospace;
}
body{
    /* ADV */
    --_bg:var(--bg, var(--clr-dark));
    --_text:var(--text, var(--clr-light));
    
    background:var(--_bg);
    font-size:16px;
    font-weight:500;
    color:var(--_text);
    text-transform:lowercase;
    height:100svh;
}
ul {
    list-style-type: none;
}
a{
    /* ADV */
    --_link:var(--link,var(--clr-cyan));
    
    color:var(--_link);
    font-weight:600;
}
/* STYLE SETTINGS */
.container{
    padding-top:80px;
    width:100%;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    position:relative;
}
.btn-area{
    position:absolute;
    width:50px;
    height:50px;
    top:10px;
    overflow:hidden;
}
.btn-round{
    width:100%;
    rotate:180deg;
    animation:roll linear infinite;
    transition:.25s ease-in;
}
.sun, .moon{
    --_filter:var(--filter,1);
    
    display:block;
    filter:invert(var(--_filter));
}
.moon{
    rotate:180deg;
}
.btn{
    cursor:pointer;
}

.active-dark{
    rotate:0deg;
}
.content{
    text-align:center;
}
.title{
    margin:25px 0;
    font-size:2.25em;
}
/* CARD */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px 40px;
}

.input-field {
    border: 2px solid var(--clr-gray);
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    max-width: 500px; /* Adjust max width as necessary */
    font-size: 1em;
}

.input-field::placeholder {
    color: var(--clr-lgray);
}

.gen-btn {
    background: none;
    border: 2px solid var(--clr-gray);
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gen-btn:hover {
    background-color: var(--clr-cyan2);
    color: var(--clr-dark);
}

.hidden {
    display: none;
}

/* THEME CHANGER */

.light{
    --text:var(--clr-dark);
    --bg:var(--clr-light);
    --link:var(--clr-blue);
    --filter:0;
}

/* MEDIA */
@media (min-width: 768px) {
    .container {
    }