.navbar{
    width:100%;
    padding:8px 18px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 1px 1px rgba(255 255 255 / .05);
}
.brand{
    display:flex;
    justify-content:center;
    align-items:center;
    column-gap:15px;
}
.brand .title{
    margin:0;
    text-transform:uppercase;
}
.brand .title a{
    color:var(--_text);
    text-decoration:none;
}
.brand i{
    color:var(--_link);
    font-size:28px;
}
